Package: power-profiles-switcher
Version: 0.2
Architecture: all
Maintainer: Axel358 <axel358@yahoo.com>
Installed-Size: 46
Depends: python3, python3-gi, power-profiles-daemon
Section: custom
Priority: optional
Description: Switch between power profiles
