Source: power-profiles-switcher
Section: custom
Priority: optional
Maintainer: Axel358 <axel358@yahoo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: power-profiles-switcher
Architecture: all
Description: Switch between power profiles
Depends: python3,
         python3-gi,
         power-profiles-daemon
